<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Students</title>
</head>

<body>
    <center>
        <h2>Students Details</h2>
        <form action="/add-student" method="post" style="padding-bottom: 20px;">

            <table border="1px" cellpadding="3">
                <tr>
                    <td>Name:</td>
                    <td>
                        <input type="text" name="name">
                    </td>
                </tr>
                <tr>
                    <td>Age:</td>
                    <td>
                        <input type="number" name="age">
                    </td>
                </tr>
                <tr>
                    <td>Eamil:</td>
                    <td>
                        <input type="text" name="email">
                    </td>
                </tr>
                <tr>
                    <td>Gender:</td>
                    <td>
                        <input type="radio" name="male" value="Male">Male
                        <input type="radio" name="female" value="Female">Female
                    </td>
                </tr>
                <tr>
                    <td>Number:</td>
                    <td>
                        <input type="number" name="number">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="submit">Add-student</button></td>
                </tr>
            </table>
        </form>
    </center>
</body>

</html>